/* Reseteo de márgenes y paddings para todos los elementos */
* {
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  /* Estilo global para el cuerpo de la página */
  body {
    font-family: 'Segoe UI', system-ui, sans-serif;
    background-color: #f5f5f5;
    text-decoration: none;
  }
  